Repository Atos20/Crate, pull requests merged in 2020-12, with the labels that each got.

#28 Test branch
  code/mobile/package-lock.json
  code/mobile/package.json
  code/package-lock.json
  code/web/package-lock.json
  code/web/package.json
  code/web/src/modules/StyleSurvey/StyleSurvey.js
  code/web/src/modules/crate/Item.js
  code/web/src/modules/crate/List.js
  code/web/src/modules/user/api/actions.js
  code/web/src/modules/user/api/state.js
  code/web/src/setup/routes/user.js
  code/web/src/setup/store.js
  code/web/src/ui/image/Tile.js
  pull_request_template.md
Labels: frontend

#32 Nd style survey categories
  code/web/src/modules/StyleSurvey/StyleSurvey.js
Labels: React DOM, StyleSurvey, enhancement, frontend, mvp, styling

#34 Changed styling of StyleSurvey component to match the wire frame deli…
  code/web/src/modules/StyleSurvey/StyleSurvey.js
  code/web/src/ui/image/Tile.js
Labels: React DOM, UI/UX, enhancement, frontend, styling

#38 Test branch
  code/web/package.json
  code/web/src/modules/crate/Item.js
  code/web/src/modules/crate/api/crate_state.test.js
  code/web/src/modules/crate/api/state.js
  code/web/src/modules/user/api/actions.js
  code/web/src/modules/user/api/state.js
  code/web/src/modules/user/api/user_actions.test.js
  code/web/src/modules/user/api/user_state.test.js
Labels: testing

#43 Nd visual selection
  code/web/package-lock.json
  code/web/src/modules/StyleSurvey/StyleSurvey.js
  code/web/src/ui/common/shadows.js
Labels: React DOM, StyleSurvey, UI/UX, enhancement, mvp, styling

#46 Rebase main to feature branch test survey component
  code/web/src/modules/StyleSurvey/StyleSurvey.js
  code/web/src/modules/StyleSurvey/StyleSurvey.test.js
  code/web/src/modules/crate/Item.js
Labels: StyleSurvey, frontend, testing

#48 Nd survey submit
  .gitignore
  code/api/package-lock.json
  code/api/package.json
  code/api/src/config/database.json
  code/api/src/config/env.js
  code/api/src/modules/crate/model.js
  code/api/src/modules/crate/mutations.js
  code/api/src/modules/crate/query.js
  code/api/src/modules/crate/resolvers.js
  code/api/src/modules/crate/types.js
  code/api/src/modules/product/model.js
  code/api/src/modules/product/mutations.js
  code/api/src/modules/product/query.js
  code/api/src/modules/product/resolvers.js
  code/api/src/modules/product/types.js
  code/api/src/modules/subscription/model.js
  code/api/src/modules/subscription/mutations.js
  code/api/src/modules/subscription/query.js
  code/api/src/modules/subscription/resolvers.js
  code/api/src/modules/subscription/types.js
  code/api/src/modules/user/model.js
  code/api/src/modules/user/mutations.js
  code/api/src/modules/user/query.js
  code/api/src/modules/user/resolvers.js
  code/api/src/modules/user/tests/userMutation.test.js
  code/api/src/modules/user/tests/userQuery.test.js
  code/api/src/modules/user/types.js
  code/api/xcode-select
  code/web/.gitignore
  code/web/package-lock.json
  code/web/package.json
  code/web/src/modules/StyleSurvey/StyleSurvey.js
  code/web/src/modules/auth/AuthAdminCheck.js
  code/web/src/modules/auth/AuthCheck.js
  code/web/src/modules/auth/RoutePrivate.js
  code/web/src/modules/common/NotFound.js
  code/web/src/modules/common/api/actions.js
  code/web/src/modules/crate/Item.js
  code/web/src/modules/crate/api/actions.js
  code/web/src/modules/subscription/api/actions.js
  code/web/src/modules/user/api/actions.js
  code/web/src/modules/user/api/state.js
  package-lock.json
Labels: React DOM, StyleSurvey, UI/UX, backend, enhancement, frontend, styling

#52 A user will see their style at the end of the survey and can redirect…
  code/api/src/modules/user/resolvers.js
  code/web/package.json
  code/web/src/modules/StyleSurvey/StyleSurvey.js
  code/web/src/modules/StyleSurvey/StyleSurvey.test.js
  code/web/src/modules/StyleSurvey/StyleSurveyData.js
  code/web/src/modules/user/api/actions.js
  code/web/src/modules/user/api/state.js
  code/web/src/modules/user/api/user_state.test.js
Labels: React DOM, StyleSurvey, UI/UX, enhancement, frontend, styling

#53 add mutation test for user
  code/api/src/modules/user/tests/userMutation.test.js
Labels: backend, testing

#55 Om test assign style action
  code/web/src/modules/user/api/user_state.test.js
Labels: frontend, testing
